<div class="main container">
    <div class="row">
        <p class="basic-text offset-md-4 col-md-4 offset-sm-2 col-sm-8">
            STORIES
        </p>
    </div>
    <div class="row">
        <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-8"><%= button_to "Learn more" %></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="subheading offset-md-2 col-md-8 offset-sm-1 col-sm-10">
            COMMUNITY
        </p>
    </div>
    <div class="row">
        <p class="tagline offset-md-2 col-md-8 offset-sm-1 col-sm-10">
            Share your stories with world as you travel through it!
        </p>
    </div>
</div>
<div class="secondary container">
    <!-- <div class="row">
        <p class="basic-text offset-md-4 col-md-4 offset-sm-2 col-sm-8">
            STORIES
        </p>
    </div>
    <div class="row">
        <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-8"><%= button_to "Learn more" %></div>
    </div> -->
</div>
<div class="container">
    <div class="row">
        <p class="subheading offset-md-2 col-md-8 offset-sm-1 col-sm-10">
            DISCOVER
        </p>
    </div>
    <div class="row">
        <p class="tagline offset-md-2 col-md-8 offset-sm-1 col-sm-10">
            The whole world is waiting!
        </p>
    </div>
    <div class="row">
        <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-8"><%= button_to "Learn more" %></div>
    </div>
</div>