/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    padding: 0px;
    margin: 0px;
}

.menu-inner {
    border: none;
    background-color: white;
    padding: 0px;
    margin: 1em;
    font-size: 18px;
}

.nav {
    background: black;
    width: 100%;
}
  
.nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 720px;
}
  
.nav ul li,.nav ul li a {
    color: white;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    list-style: none;
    width: 140px;
    transition: background .5s;
}
  
.btn:hover, .nav ul li:hover, .nav ul li a:hover {
    background: white;
    cursor: pointer;
    color: black !important;
    transition: background .5s;
}